---
import Default from "../layouts/Default.astro";
---

<Default title="Wanderwetter">
	<div class="container bg-base-200">
		<h1>Home</h1>
		<button class="btn btn-xl btn-primary">Hallo</button>
	</div>
</Default>
