// src/styles/global.scss

// ─── 1. Pico zuerst (MUSS als erstes stehen) ─────────────────────────────
@use "@picocss/pico/scss/pico" with (
  $theme-color: "jade",
  $enable-semantic-container: true,
  $enable-responsive-spacings: true
);

/* Wanderwetter pico.scss overwrites */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
  --pico-form-element-spacing-vertical: 0.25rem;
  --pico-form-element-spacing-horizontal: 1rem;

  //--pico-scondary: #D9534F;
  //--pico-secondary-background: #D9534F;
  //--pico-secondary-underline: #D9534F;
  //--pico-secondary-hover: #D9534F;
  //--pico-secondary-hover-background: #D9534F;
  //--pico-secondary-focus: #D9534F;
  //--pico-secondary-inverse: #fff;
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
//@media only screen and (prefers-color-scheme: dark) {
//  :root:not([data-theme]),
//  :host:not([data-theme]) {
//    --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
//    --pico-primary: #f56b3d;
//    --pico-primary-background: #d24317;
//    --pico-primary-underline: rgba(245, 107, 61, 0.5);
//    --pico-primary-hover: #f8a283;
//    --pico-primary-hover-background: #e74b1a;
//    --pico-primary-focus: rgba(245, 107, 61, 0.375);
//    --pico-primary-inverse: #fff;
//  }
//}
///* Orange color for dark color scheme (Forced) */
///* Enabled if forced with data-theme="dark" */
//[data-theme=dark] {
//  --pico-text-selection-color: rgba(245, 107, 61, 0.1875);
//  --pico-primary: #f56b3d;
//  --pico-primary-background: #d24317;
//  --pico-primary-underline: rgba(245, 107, 61, 0.5);
//  --pico-primary-hover: #f8a283;
//  --pico-primary-hover-background: #e74b1a;
//  --pico-primary-focus: rgba(245, 107, 61, 0.375);
//  --pico-primary-inverse: #fff;
//}
