---
import '../styles/bootstrap.scss';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<slot />
	</body>
	<script>
		// Import only what you need
		// import 'bootstrap/js/dist/alert';
		import 'bootstrap/js/dist/button';
		// import 'bootstrap/js/dist/carousel';
		// import 'bootstrap/js/dist/collapse';
		// import 'bootstrap/js/dist/dropdown';
		// import 'bootstrap/js/dist/modal';
		// import 'bootstrap/js/dist/offcanvas';
		// import 'bootstrap/js/dist/popover';
		// import 'bootstrap/js/dist/scrollspy';
		// import 'bootstrap/js/dist/tab';
		// import 'bootstrap/js/dist/toast';
		// import 'bootstrap/js/dist/tooltip';
	</script>
</html>